* {
    background-color: #164863;
    font-family: "Helvetica";
    color: #DDF2FD;
    letter-spacing: 2px;
}

h1{
    font-size: 64px;
}

p{
    font-size: 32px;
}
body, html {
    margin: 0;
    padding: 0;
}
.navigation{
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.nav-bar{
    list-style: none;
    display: inline-flex;
    font-size: 28px;
    margin: 15px;
}
.nav-bar li{
    word-spacing: 15px;
    letter-spacing: 3px;
    padding-right: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;

}
.nav-bar a{
    color: rgb(155, 190, 200);
    letter-spacing: 3px;
    word-spacing: 5px;
    text-decoration: none;
}
.nav-bar a:hover{
    color: mediumpurple;
}

.banner-image{
    width: 100%;
    display: inline-flex;
    position: relative;
}
.banner-image img{
    width: 100%;
    height: auto;
}

.banner-overlay-box{
    position: absolute;
    top: 40%;
    left: 10%;
    padding: 10px 20px;
    width: 550px;
    height: auto;
    background-color: rgba(22, 72, 99, 0.7);
    border-radius: 5px; 
    
}
.banner-overlay-box p, h1{
    background-color: rgba(22, 72, 99, 0);
    width: 100%;
    height: auto;
}
.blog h1{
    margin-top: 25px;
    text-align: center;
}